
body { font: 13px Helvetica, Arial; }

.container { position:relative; padding:0 0 0 55px; }

/*#header { border:1px solid #000; width:100px; height:20px;
    margin:0 0 5px 0;
}*/

#logo {
    position: absolute;
    opacity: 0.5;
    top: 5px;
    right: -235px;
}

#content {
  /*border:1px solid #000;*/
  margin:5px 0 5px 0;
}

#map_container {
  /* attempt to make map height responsive here */
}

#map {
  position: relative;
  border:1px solid #000;
  /*margin:5px 0 5px 0;*/
  height: 1000px;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#404040;
}

/*#footer { border:1px solid #000; width:100px; height:20px;
    margin:5px 0 0 0;
}*/

#pokemon { list-style-type: none; margin: 0; padding: 0; }
#pokemon li { padding: 5px 10px; }
#pokemon li:nth-child(odd) { background: #eee; }
