
body { font: 13px Helvetica, Arial; }

.container { position:relative; padding:0 0 0 55px; }

/*#header { border:1px solid #000; width:100px; height:20px;
    margin:0 0 5px 0;
}*/

#content {
  border:1px solid #000;
  margin:5px 0 5px 0;
}

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#000;
}

/*#footer { border:1px solid #000; width:100px; height:20px;
    margin:5px 0 0 0;
}*/

#pokemon { list-style-type: none; margin: 0; padding: 0; }
#pokemon li { padding: 5px 10px; }
#pokemon li:nth-child(odd) { background: #eee; }
